aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.9.2
anyio==3.6.2
apache-airflow==2.5.3
apache-airflow-providers-common-sql==1.3.3
apache-airflow-providers-ftp==3.3.0
apache-airflow-providers-http==4.1.1
apache-airflow-providers-imap==3.1.1
apache-airflow-providers-sqlite==3.3.1
apispec==3.3.2
appnope==0.1.3
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
async-generator==1.10
async-timeout==4.0.2
asynch==0.2.2
attrs==22.2.0
Automat==22.10.0
Babel==2.11.0
backcall==0.2.0
base58==2.1.1
beautifulsoup4==4.11.2
bleach==6.0.0
blinker==1.5
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1648854303569/work
cachelib==0.9.0
cachetools==5.3.0
cairocffi==1.5.1
CairoSVG==2.7.0
cattrs==22.2.0
certifi==2022.12.7
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1656783163977/work
chardet==5.1.0
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1661170624537/work
ciso8601==2.3.0
cli-helpers==2.3.0
click==8.1.3
clickclick==20.10.2
clickhouse-cityhash==1.0.2.4
clickhouse-driver==0.2.5
clickhouse-sqlalchemy==0.2.4
colorama==0.4.6
colorlog==4.8.0
comm==0.1.2
commonmark==0.9.1
conda==4.14.0
conda-package-handling @ file:///Users/runner/miniforge3/conda-bld/conda-package-handling_1649385138064/work
configobj==5.0.8
configparser==5.3.0
ConfigUpdater==3.1.1
connexion==2.14.1
constantly==15.1.0
cron-descriptor==1.2.32
croniter==1.3.8
cryptography==38.0.4
cssselect==1.2.0
cssselect2==0.7.0
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
delta-spark==2.2.0
Deprecated==1.2.13
dill==0.3.1.1
distlib==0.3.6
dnspython==2.3.0
docker==6.0.1
docutils==0.19
duckduckgo-search==2.8.5
email-validator==1.3.0
exceptiongroup==1.1.0
executing==1.2.0
fastjsonschema==2.16.2
filelock==3.8.0
Flask==2.2.2
Flask-AppBuilder==4.1.4
Flask-Babel==2.0.0
Flask-Caching==2.0.2
Flask-JWT-Extended==4.4.4
Flask-Login==0.6.2
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.1.1
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.5.0
gcsfs==2023.5.0
google-api-core==2.11.0
google-api-python-client==2.84.0
google-auth==2.16.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-cloud==0.34.0
google-cloud-bigquery==3.10.0
google-cloud-core==2.3.2
google-cloud-storage==2.7.0
google-crc32c==1.5.0
google-resumable-media==2.4.1
googleapis-common-protos==1.58.0
graphviz==0.20.1
greenlet==2.0.2
grpcio==1.54.0
grpcio-status==1.54.0
gTTS==2.3.1
gunicorn==20.1.0
h11==0.14.0
httpcore==0.16.3
httplib2==0.22.0
httpx==0.23.3
hyperlink==21.0.0
idna==3.4
importlib-metadata==6.0.0
incremental==22.10.0
inflection==0.5.1
install==1.3.5
ipfsapi==0.4.4
ipfshttpclient==0.8.0a1
ipykernel==6.20.2
ipython==8.8.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
isoduration==20.11.0
itemadapter==0.7.0
itemloaders==1.0.6
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-events==0.6.3
jupyter_client==8.0.2
jupyter_core==5.2.0
jupyter_server==2.2.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
kafka==1.3.5
kafka-python==2.0.2
lazy-object-proxy==1.9.0
leb128==1.0.5
linkify-it-py==2.0.0
lockfile==0.12.2
loguru==0.6.0
lxml==4.9.1
lz4==4.3.2
Mako==1.2.4
Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.3
mdurl==0.1.2
mistune==2.0.4
multiaddr==0.0.9
multidict==6.0.4
nbclassic==0.5.1
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
netaddr==0.8.0
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.24.1
oauth2client==4.1.3
oauthlib==3.2.2
openai==0.27.2
outcome==1.2.0
packaging==21.3
pandas==1.5.3
pandocfilters==1.5.0
parsel==1.6.0
parso==0.8.3
pathspec==0.9.0
pendulum==2.1.2
pexpect==4.8.0
pgcli==3.5.0
pgspecial==2.0.1
pickleshare==0.7.5
Pillow==9.5.0
pinecone-client==2.2.1
pipenv==2022.12.19
platformdirs==2.6.2
playsound==1.2.2
pluggy==1.0.0
prison==0.2.1
prometheus-client==0.16.0
prompt-toolkit==3.0.36
Protego==0.2.1
proto-plus==1.22.2
protobuf==4.21.12
psutil==5.9.4
psycopg==3.1.8
psycopg-binary==3.1.8
psycopg2-binary==2.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.5
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1649385121707/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
PyDispatcher==2.0.6
Pygments==2.14.0
PyJWT==2.6.0
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing==3.0.9
pyrsistent==0.19.3
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1648857351433/work
pyspark==3.3.2
python-daemon==3.0.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==2.0.4
python-nvd3==0.15.0
python-slugify==7.0.0
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
pytzdata==2020.1
PyYAML==6.0
pyzmq==25.0.0
qtconsole==5.4.0
QtPy==2.3.0
queuelib==1.6.2
readability-lxml==0.8.1
regex==2023.3.23
requests==2.28.2
requests-file==1.5.1
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.1.0
rsa==4.9
ruamel-yaml-conda @ file:///Users/runner/miniforge3/conda-bld/ruamel_yaml_1653464701544/work
Scrapy==2.7.0
selenium==4.8.3
Send2Trash==1.8.0
service-identity==21.1.0
setproctitle==1.3.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.46
SQLAlchemy-JSONField==1.0.1.post0
SQLAlchemy-Utils==0.39.0
sqlparse==0.4.3
stack-data==0.6.2
tabulate==0.9.0
tenacity==8.1.0
termcolor==2.2.0
terminado==0.17.1
text-unidecode==1.3
tiktoken==0.3.3
tinycss2==1.2.1
tldextract==3.4.0
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
tornado==6.2
tqdm==4.65.0
traitlets==5.8.1
trio==0.22.0
trio-websocket==0.10.2
Twisted==22.10.0
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==4.2
uc-micro-py==1.0.1
unicodecsv==0.14.1
uri-template==1.2.0
uritemplate==4.1.1
urllib3==1.26.14
varint==1.0.2
virtualenv==20.17.1
virtualenv-clone==0.5.7
w3lib==2.0.1
wcwidth==0.2.5
webcolors==1.12
webdriver-manager==3.8.6
webencodings==0.5.1
websocket-client==1.5.0
Werkzeug==2.2.2
widgetsnbextension==4.0.5
wrapt==1.14.1
wsproto==1.2.0
WTForms==3.0.1
yarl==1.8.2
zipp==3.11.0
zope.interface==5.5.0
zstd==1.5.5.1
